@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Neue_Montreal';
    src: url('./fonts/NeueMontreal-Regular.woff2') format('woff2'),
         url('./fonts/NeueMontreal-Regular.woff') format('woff');
  }
  @font-face {
    font-family: 'Test_Founders_Grotesk_X';
    src: url('./fonts/FoundersGrotesk-Semibold.woff2') format('woff2'),
         url('./fonts/FoundersGrotesk-Semibold.woff') format('woff');
  }

/* *{
    border: .1px solid red;
} */